.slick-slide
{
  padding: 0px 15px;
  margin: 0px 5px;
}

.slick-prev,
.slick-next
{
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.slick-prev:before,
.slick-next:before
{
  color: black;
  font-size: 40px;
  opacity: .5;
}

.slick-prev
{
  left: -50px;
}

.slick-next
{
  right: -50px;
}
