.slick-slide
{
  padding: 0px 15px;
  margin: 0px 5px;
}

.slick-prev,
.slick-next
{
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.slick-prev:before,
.slick-next:before
{
  color: black;
  font-size: 40px;
  opacity: .5;
}

.slick-prev
{
  left: -50px;
}

.slick-next
{
  right: -50px;
}

.tasks-enter {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

.tasks-enter.tasks-enter-active {
  opacity: 1;
}

.tasks-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.tasks-leave.tasks-leave-active {
  opacity: 0.01;
}

.chart {
  width: 175px;
  height: 175px;
}

@media (min-width: 470px) {
  .chart {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 700px) {
  .chart {
    width: 275px;
    height: 275px;
  }
}
